* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Red Hat Text', sans-serif;
    background:  #1A1823;
    background-image: url(./images/bg-stars.svg);
    background-size: cover;
    height: 100vh;
}
header {
    display: flex;
    justify-content: center;
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.we {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 6.13636px;
    text-transform: uppercase;
    color: #FFFFFF;

    width: 327px;
    height: 48px;
    margin: 142px 24px 54px 24px;
}
.time {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 77px;
    height: 66px;
    background-color: #343650;
    border-radius: 5px;
}
.time-h2 {
    position: absolute;
    z-index: 3;
    color: #FB5E84;
    font-family: 'Red Hat Text';
    Font-style: Bold;
    Font-size: 36px;
    line-height: 71px;
    Letter-spacing: -1.08px;
}
.corner {
    display: flex;
    align-items: center;
    gap: 70px;
}
.cornerr {
    overflow: hidden;
    z-index: 4;
    border-radius: 50%;
    width: 7px;
    height: 7px;
    background: #191A23;
}
.line {
    position: absolute;
    z-index: 1;
    width: 72px;
    height: 0px;
    border: 0.5px solid #000000;
    opacity: 0.15;
    mix-blend-mode: normal;
}
.time-p {
    font-weight: 700;
    font-size: 7px;
    line-height: 9px;
    text-align: center;
    letter-spacing: 2.95937px;
    color: #8385A9;
    text-transform: uppercase;
    margin-top: 20px;
}
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height:  168px;
    width:  100%;
    margin-top: 163px;
    position: relative;
    overflow: hidden;
}
.bg {
    position: absolute;
    background-image: url(./images/pattern-hills.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 168px;
    width: 1440px;
    margin-right: 650px;
}
.icons {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    gap: 32px;
    cursor: pointer;
}

@media screen and (min-width: 770px) {
    main {
        gap: 32px;
    }
    .we {
        font-size: 22px;
        line-height: 29px;
        letter-spacing: 7.5px;
        width: 450px;
        height: 29px;
        margin: 100px 0;
    }
    .time {
        width: 148px;
        height: 140px;
        border-radius: 8px;
    }
    .time-h2 {
        Font-size: 80px;
        Letter-spacing: -2.4px;
    }
    .corner {
        gap: 136px;
    }
    .cornerr {
        width: 12px;
        height: 12px;
    }
    .line {
        width: 148px;
        height: 1px;
        border: 0.5px solid #000000;
    }
    .time-p {
        font-size: 14px;
        line-height: 19px;
        letter-spacing: 5.92px;
    }
    footer {
        margin-top: 50px;
        height: 200px;
    }
    .bg {
        background-size: contain;
        margin-right: 0px;
        height: 200px;
    }
    .icons {
        margin-top: 30px;
    }
    .icons svg path:hover {
        fill: #FB5E84;
    }
}